@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RESTful Controllers</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap-grid.css">
</head>
<body class="m-1 p-1">
    <div>
        @RenderBody()
    </div>
</body>
</html>
